.container {
    padding-bottom: 4em;
}


.new-tweet {
    border-radius: 25px;
    background-color: lightgray;
    padding-top: .5em;
    padding-bottom: .5em;

}

.new-tweet h2 {
    border-bottom: 1px solid black;
    width: 95%; 
    margin-left: 2.5%;
    text-align: left; 
    
}


.new-tweet .flex {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
  
}

  .container textarea {
    padding: 5px;
    box-sizing: border-box;
    width: 50%;

    }

    .invalid {
        color: red;
    }

    #tweet-container {
        margin: 2em;
        text-align: left;
        
    }

    #tweet-container:hover  {
        opacity: 0.5;
    }

   #tweet-container article {
        border-style: ridge;
        border-width: 1px;
        border-color: slategray;
        border-radius: 14px;
        overflow: hidden;
         
    

    }
     #tweet-container header {
         width: 100%;
         height: 100%;
         border-radius: 4px;
         background-color: #f3f3f3;
         padding: 10px;
        

     }

     #tweet-container footer {
        border-top: .5px solid #eeeeee;
        padding: 5px; 
      

     }

     #tweet-container .name {
         font-weight: bold; 
         font-size: 2em;
         float: left;
         color: slategray;
        
     }

     #tweet-container .handle {
        font-size: 15px;
        float: right; 
        color: darkgray;
    
     }

     #tweet-container img {
         width: 30px;
         height: 30px; 
         float: left;
         margin-right: 15px;
         border-radius: 4px; 

         }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
        }

        .tweet {
            padding: 7px
        }

        #button:hover {
            opacity: .5;
        }

        #button {
            position:absolute;
            transition: .5s ease;
            top: 0%;
            left: 90%;
            border-radius: 4px; 
            margin-top: .8em;
            height: 40px; 
        }

        .c-error  {
            display:none;
            background: #c51244 !important;
            padding: 10px !important;
            border-radius: 0 !important;
            position: relative; 
            box-shadow: 1px 1px 1px #aaaaaa;
            margin-top: 10px;
          }